.btn_standard {
    background-image: url("project://database/Assets/Sprites/stargame_ui_button.png?fileID=2800000&guid=0099bee43af250a42a59c9ef38e68eba&type=3#stargame_ui_button");
    -unity-background-image-tint-color: rgb(183, 183, 183);
}

.btn_standard:hover {
    background-image: url("project://database/Assets/Sprites/stargame_ui_button.png?fileID=2800000&guid=0099bee43af250a42a59c9ef38e68eba&type=3#stargame_ui_button");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-font-style: bold;
}

.btn_standard:active {
    background-image: url("project://database/Assets/Sprites/stargame_ui_button.png?fileID=2800000&guid=0099bee43af250a42a59c9ef38e68eba&type=3#stargame_ui_button");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-font-style: bold;
}

.btn_standard:focus {
    background-image: url("project://database/Assets/Sprites/stargame_ui_button.png?fileID=2800000&guid=0099bee43af250a42a59c9ef38e68eba&type=3#stargame_ui_button");
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-font-style: bold;
}
